@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');

body {
    margin: 0;
    background-color: black;
}

* {
    font-family: 'Roboto Mono', monospace;
    color: white;
}

a {
    text-align: center;
    color: white;
    text-decoration: none;
    display: block;
    height: 30px;
    line-height: 2;
}

.disabled {
    text-decoration: underline;
    pointer-events: none;
    cursor: default;
}

.disabled-grey {
    text-decoration:line-through;
    pointer-events: none;
    cursor: default;
    color:rgb(87, 87, 87);
}

.disabled:hover {
    text-decoration: underline;
    text-shadow: none;
}

a:hover {
    text-shadow: 0px 2px 10px #c179ff;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

hr {
    width:70%;
}

.column-center {
    width: 1000px;
    margin: 0 auto;
}

.column-left {
    float: left;
    height: 100vh;
    width: 200px
}

.column-right {
    float: left;
    height: 100vh;
    width: 800px;
}
